@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;600;900&display=swap");

:root {
  --gold: hsl(49, 70%, 49%);
  --red: hsla(9, 78%, 43%, 0.438);
  --green: hsla(120, 78%, 35%, 0.842);
  --black: hsl(252, 79%, 4%);
}

body {
  margin: 0;
  color: var(--black);
  font-family: "Vollkorn", serif;
}

h1 {
  font-size: 4rem;
  text-align: center;
  /* grid-area: 1 / -1; */
}

.keyboard {
  display: grid;
  place-items: center center;
  font-size: 2rem;
}

.keyboard-row {
  display: flex;
}

.scoreboard {
  display: flex;
  font-size: 3rem;
}

.scoreboard :nth-child(1) {
  color: var(--green);
}

.scoreboard :nth-child(3) {
  color: var(--red);
}

.gameText {
  padding: 40px;
  line-height: 1.7;
  font-size: 1rem;
  font-weight: 600;
}

.gameText span {
  padding: 0.04vw;
  transition: ease-in-out 0.1s;
}

article {
  border: solid 2px var(--black);
  margin-right: 0.09vw;
  margin-top: 0.09vw;
  padding: 1vw 2vw;
  transition: ease-in-out 0.1s;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: start center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  min-height: 100vh;
}

.messages {
  display: grid;
  min-height: 5vh;
  grid-template-columns: 1fr 1fr;
  line-height: 1.4;
}

.message {
  font-size: 1.2rem;
  place-self: center;
  padding: 20px 20px;
  margin: 5vh;
  max-width: 400px;
  word-wrap: break-word;
  background: var(--red);
  transition: ease-in-out 0.4s;
  opacity: 0;
  color: white;
  align-items: center;
}

.encrypted {
  font-size: 1.2rem;
  place-self: center;
  padding: 20px 20px;
  margin: 5vh;
  max-width: 400px;
  word-wrap: break-word;
  background: var(--red);
  transition: ease-in-out 0.4s;
  opacity: 0;
  color: white;
  align-items: center;
}

.settings {
  display: flex;
  margin-top: 5vh;
}

.rotor {
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.rotor :nth-child(1) {
  opacity: 0.2;
  font-size: 1rem;
}

.rotor :nth-child(3) {
  opacity: 0.2;
  font-size: 1rem;
}

footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  width: 100%;
  justify-content: space-evenly;
}
a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  padding: 20px;
}

a:hover {
  color: var(--red);
}
